@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BookkMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Lt.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'BookkMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    color: #000000;
    background-color: #ffffff;
    font-family: 'BookkMyungjo', serif;
    line-height: 1.6;
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  ::selection {
    @apply bg-black text-white;
  }

  a {
    color: #000000;
  }

  a:hover {
    @apply opacity-60;
  }
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
}